@font-face {
    font-family: 'Avant Garde Bold';
    src: url('avant-garde-bold-webfont.woff2') format('woff2'),
         url('avant-garde-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/* Add content to bottom of video */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.164);
    color: white;
    width: 100%;
    padding: 20px;
}

.btn {
    border-radius: 100px;
    padding: 10px 20px;
    font-family: 'Roboto Mono', monospace;
    text-transform: lowercase;
}

h1 {
    font-family: 'Avant Garde Bold', sans-serif;
}

p {
    font-family: 'Roboto Mono', monospace;
}

.card {
    display: flex;
}

h5 {
    font-family: 'Avant Garde Bold', monospace;
}