@font-face {
    font-family: 'Avant Garde Bold';
    src: url('avant-garde-bold-webfont.woff2') format('woff2'),
         url('avant-garde-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Style background video to fit 100% of window */
#video-bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
}

/* Add content to bottom of video */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.219);
    color: white;
    width: 100%;
    padding: 20px;
}

.btn {
    border-radius: 100px;
    padding: 10px 20px;
    font-family: 'Roboto Mono', monospace;
    text-transform: lowercase;
}

h1 {
    font-family: 'Avant Garde Bold', sans-serif;
}

p {
    font-family: 'Roboto Mono', monospace;
}

#mailchimp {
	color: #3D6392;
	padding: 20px 15px;
}
	#mailchimp input {
		 border: medium none;
    color: gray;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px 18px;
    width: 300px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
		#mailchimp input.email { background: #fff }
		#mailchimp input.name { background: #fff}
		#mailchimp input[type="submit"] {
			background: rgb(0, 119, 255);
			color: #fff;
            cursor: pointer;
            font-family: 'Avant Garde Bold', sans-serif;
            text-transform: lowercase;
            font-size: 20px;
            border-radius: 100px;
			width: 300px;
			padding: 8px 8px;

		}
			#mailchimp input[type="submit"]:hover { color: #F2C94C }